:root {
--background-color: #ffffff;
--text-color: #434455;
--footer-text-color: #e7e9fc;
--btn-color: #F4F4FD;;
--btn-active-colore: #4d5ae5;
--hover-focus-color: #404bbf;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #2e2f42;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
padding-top: 8px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: #2e2f42;
}
p {
    color: var(--text-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (max-width: 1199px){
    .charecter-img{display: none;
    }
    .section{
    display: none;
    }
}
/*version of site*/
@media screen and (min-width:480px)
{.container{max-width: 448px;}
.title-container{
    max-width: 100%;
    text-align: center;
}
.title{ background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
    url(../images//bg-tabl.jpg);
    text-align: center;
}
.title-text{
    max-width: 320px;
    margin: 0 auto;
}
/*tablet*/

}
@media screen and (min-width:768px){
    .container{max-width: 736px;}
    .title-container{
    max-width: 100%;}
    .title{ background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
    url(../images//bg-desc.jpg);
    text-align: center;
    padding-top: 112px; 
    padding-bottom: 108px;
    margin: 0 auto;
}
.title-text{
    font-size: 56px;
    line-height: 1.07;
    max-width: 500px;
    padding-bottom: 40px;
    margin: 0 auto;
}
}
/*desctop*/
@media screen and (min-width:1200px){
    .container{max-width:1200px ;}
    .title-container{
    max-width: 100%;}
    .title{
    padding-top: 188px; 
    padding-bottom: 188px;
    text-align: center;
    margin: 0 auto;
    }
    .title-text{
    font-size: 56px;
    line-height: 1.07;
    padding-bottom: 48px;
    max-width: 500px;
    margin:0 auto;
    }
}

