:root {
--background-color: #ffffff;
--text-color: #434455;
--footer-text-color: #e7e9fc;
--btn-color: #F4F4FD;;
--btn-active-colore: #4d5ae5;
--hover-focus-color: #404bbf;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #2e2f42;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
padding-top: 8px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: #2e2f42;
}
p {
    color: var(--text-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (max-width: 1199px){
    .charecter-img{display: none;
    }
    .section{
    display: none;
    }
}
/*version of site*/


@media screen and (min-width:480px)
{.container {
    max-width: 448px;}
.container-mob{
    width: 428px;
    padding: 40px;
    margin: 0 auto;
}
.header-container {padding-bottom: 24px;}
.mobile-sm-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 64px;}

.mobile-tel-link {
    font-size: 36px;}

.title-container{
    max-width: 100%;
    text-align: center;
}
.title{ background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
    url(../images//bg-tabl.jpg);
    text-align: center;
}
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .title { background-image:  linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url('../images/bg-table-2x.jpg');
}
}
.title-text{
    max-width: 320px;
    margin: 0 auto;
}
.emal-sub{
    width: 418px;
}
/*modal*/
.modal {
    width: 392px;
    max-height: 586px;
}
.modal-close{
    margin-top: 0;
}
.modal-title{
    margin-top: 24px;
}
.modal-textare{
    width: 360px;
}
.checkbox-txt {
    font-size: 12px;}
}

/*tablet*/

@media screen and (min-width:768px){
    .container{max-width: 768px;}
    .header-container{
    display: flex;
    align-items: center;
    padding-bottom: 0;

}
.mob-menu{
    display: none;
}
.menu-op-btn{
display: none;
}
.header-navigation {
    display: block;
    margin-left: 100px;
}
    .header-list {
    font-family: inherit, "sans-serif";
    font-weight: 500;
    font-size: 16px;
    display: flex;
}
.header-n{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.menu:hover,
.menu:focus {
    color: var(--hover-focus-color);
}
.menu {
    color:var(--text-color);
    padding: 24px 0px ;
    display:block;
    margin-left: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current{
    position: relative;
}
.current::after {
    position: absolute;
    content: "";
    background-color: var(--hover-focus-color);
    width:100%;
    top: 48px;
    border-radius: 2px;
    height: 4px;
    margin-top: 22px;
	left: 0;
    right: 0;
}

.header-nav
{   font-style: normal;
    display: inline;
}
.header-nav:not(:last-child){
    margin-right: 40px;
}
.contact{ 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
    color: var(--hover-focus-color);
}
/*hero*/
    .title-container{
    max-width: 100%;}
    .title{ background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
    url('../images//bg-desc.jpg');
    text-align: center;
    padding-top: 112px; 
    padding-bottom: 108px;
    margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .title {
    background-image:  linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),  url('../images/bg-desc-2x.jpg');
}
}
.title-text{
    font-size: 56px;
    line-height: 1.07;
    max-width: 500px;
    padding-bottom: 40px;
    margin: 0 auto;
}
/*Skills*/
.info{
    padding-top: 58px;
}
.friend{
    width: calc((100% - 30px) / 2);
}
.charecter-list {
    display: flex;
    flex-wrap: wrap;
    gap:24px;
}
.charecter-info{
text-transform:capitalize;
font-weight: 700;
font-size: 36px;
line-height: calc(40/36);
text-align: left;
}
.friend-text{
font-weight: 500;
font-size: 16px;
letter-spacing: 0.02em;
line-height: calc(24/16);
color: var(--text-color);
}
/*Staff*/
.hero-box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;} 
/*Custom sec*/
.custom {
    width: 530px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    margin: 0 auto;
}
.cust-name {
    width: calc((100% - 90px) / 3);
    height: 90px;
}
/*portfolio*/
    .portfolio{ justify-content: center;}
/*footer*/
.footer-container{
    display: flex;
    align-items: center;
}
.logo-container{
    padding-bottom: 72px;}
.footer-subscr{
    display: flex;
}
.footer-subs{
    margin: 0 auto;
    margin-left: 108px;}
.sub-txt {
    text-align: left;
    color: #ffffff;
    font-weight: 500;
    margin: 0 auto;}
.emal-sub{
    width: 264px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    margin-right: 24px;
}
.btn-subscr {
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
width:165px;
height:40px;
background-color:#4D5AE5;
border-radius: 4px;
padding: 8px 24px;
gap: 16px;
border: none;
color: #ffffff;
font-weight: 500;
font-size: 16px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
margin: 0 auto;
}
.footer-logo {
    margin: 0 auto;}

.footer-media{
    display: block;
    width: 208px;
    padding: 0;
    margin-left: 24px;
    margin-top: 0;
    padding-bottom: 110px;
    margin-bottom: 0;
}
.title-soc{text-align: left;}
/*modal*/
.modal-textare{
    width: 360px;}
.modal-close {
    margin-bottom: 24px;
}
.modal {
width: 408px;
padding: 24px;
    max-height: 768px;
}
.modal-textare{
    width: 360px;
}
.checkbox-txt{
    font-size: 12px;
}
}


/*desctop*/
@media screen and (min-width:1200px){
    .container{max-width:1200px ;}
    .header-container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 0;}
    /*Hero*/
    .title{
    width:1440px ;
    padding-top: 188px; 
    padding-bottom: 188px;
    text-align: center;
    margin: 0 auto;
    }
    .title-text{
    font-size: 56px;
    line-height: 1.07;
    padding-bottom: 48px;
    max-width: 500px;
    margin:0 auto;
    }

/*Skills*/
    .info{
        padding-top: 120px;
}
.charecter-list {
    display: flex;
    flex-wrap: nowrap;
    gap:24px;
}
.charecter-info{
    color: var(--text-color);
    padding-top: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.friend-text{
    font-weight: 400;
    letter-spacing: 0.02em;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
}
/*Staff*/
.hero-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 72px;
}
.soc-media{
    padding: 8px 16px 32px;
}
/*Custom sec*/
.cust {
    padding-top: 120px;
    padding-bottom: 120px;
}
.custom {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    width: 1128px;
}
.cust-name {
    width: calc((100% - 150px) / 6);
    height: 90px;
}
/*footer*/
.footer-subscr{
    display: flex;
    margin-left: 80px;
}
.emal-sub{
    width: 264px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    margin-right: 24px;
}
.footer-container{
    display: flex;
}

.btn-subscr {
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
width:165px;
height:40px;
background-color:#4D5AE5;
border-radius: 4px;
padding: 8px 24px;
gap: 16px;
border: none;
color: #ffffff;
font-weight: 500;
font-size: 16px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
margin: 0 auto;
}
.footer-media{
    display: block;
    width: 208px;
    padding: 0;
    margin-left: 120px;
    padding-bottom: 100px;
}
.sub-txt {
    text-align: left;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    margin-left: 80px;
}
.title-soc {
    text-align: left;
    padding-top: 0px;
}
.footer-logo {
    font-family: "Raleway", "sans-serif";
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--footer-text-color);
    line-height: 1.16;}
.footer-subs{
    margin: 0 auto;
    padding-bottom: 99px;
}
/*portfolio*/
.portfolio-top {
    padding-top: 96px;
    justify-content: center;
    flex-wrap: nowrap;}

    /*modal*/
.modal-textare{
    width: 360px;}
.modal {
width: 408px;
padding: 24px;
}
.modal-close {
    margin-bottom: 24px;
}
.checkbox-txt{
    font-size: 12px;
}
}
