:root {
--background-color: #ffffff;
--text-color: #434455;
--footer-text-color: #e7e9fc;
--btn-color: #F4F4FD;;
--btn-active-colore: #4d5ae5;
--hover-focus-color: #404bbf;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #2e2f42;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
padding-top: 8px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: #2e2f42;
}
p {
    color: var(--text-color);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 1199px){
    .charecter-img{display: none;
    }
    .charecter-list {
    margin: 0;
    padding: 0;
    }
.charecter-list t > .friend{
    margin-top: 72px;
    width: 396px;
    }
    .section{
        display: none;
    }
}
/*version of site*/
@media screen and (min-width 480px)
{.container{max-width: 448px;}
    .charecter-list > .friend {
        width: 100%;
    }
    .charecter-info{
    text-align: center;
    color: var(--text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 8px;
    }   
.friend-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
}
@media screen and (min-width 768px){
    .container{max-width: 736px;}
.charecter-list.friend{
    width: 315px;
    margin-right: 65px;
}  
    .charecter-list{
    display: flex;
    flex-wrap: wrap;
    }
.hero-container{
    width: 586px;
}
.hero-box1{

}
.hero{
    background-color: #f4f4fd;
}}
@media screen and (min-width 1200px){
    .container{max-width:1200px ;}
    .hero{
    background-color: #f4f4fd;
}
}