:root {
--background-color: #ffffff;
--text-color: #434455;
--footer-text-color: #e7e9fc;
--btn-color: #F4F4FD;;
--btn-active-colore: #4d5ae5;
--hover-focus-color: #404bbf;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #2e2f42;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
padding-top: 8px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: #2e2f42;
}
p {
    color: var(--text-color);
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*header*/
.header {
    border-bottom: 1px solid #E7E9FC;
}
.header-container{
    display: flex;
    align-items: center;
}
.header-logo {
    font-family: "Raleway", "sans-serif";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    display: flex;
    margin-right: 70px;
}
.log {
    color: #4d5ae5;
}
.header-list {
    font-family: inherit, "sans-serif";
    font-weight: 500;
    font-size: 16px;
    display: flex;
}
.header-n{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.menu:hover,
.menu:focus {
    color: var(--hover-focus-color);
}
.menu {
    color:var(--text-color);
    padding: 24px 0px ;
    display:block;
    margin-left: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current{
    position: relative;
}
.current::after {
    position: absolute;
    content: "";
    background-color: var(--hover-focus-color);
    width:100%;
    top: 48px;
    border-radius: 2px;
    height: 4px;
    margin-top: 22px;
	left: 0;
    right: 0;
}

.header-nav
{   font-style: normal;
    display: inline;
}
.header-nav:not(:last-child){
    margin-right: 40px;
}
.contact{ padding: 24px 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
    color: var(--hover-focus-color);
}
/*main*/
.title {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
    url(../images/group-people-working-website-template.jpg.jpg);
    object-fit: contain;
    width: 1440px;
    text-align: center;
    padding-top: 188px; 
    padding-bottom: 188px;
    margin: 0 auto;
}
.title-container{
    text-align: center;
}
.title-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    padding-bottom: 48px;
    max-width: 496px;
    margin: auto;
}
.btn {
    cursor: pointer;
    padding: 16px 32px;
    gap: 10px;
    background-color: #4D5AE5;
    font-family: inherit;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
    background-color: var(--hover-focus-color);
    border-color: var(--hover-focus-color);
}
.visually-hiden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.info {
    padding-top: 120px;
}
.charecter-list {
    display: flex;
    gap: 24px;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.charecter-img{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 264px;
    background: #F4F4FD;
    border-radius: 4px;
    padding-top: 24px;
    padding-bottom: 24px;
}
/*portfolio*/
.portfolio-top {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio {
    display: flex;
    margin-bottom: 72px;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.portfolio-btn {
    cursor: pointer;
    padding: 12px 24px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    color: #4d5ae5;
    background-color: var(--btn-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    transition:
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-btn:hover {
    background-color: var(--btn-active-colore);
    color: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color:var(--btn-active-colore)
}
.list{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-oport {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.exampl{ 
    border: 1px solid #E7E9FC;
    border-top: none;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 32px;
}
.list:is(:hover,:focus){
    transform: translateY(0%);
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list:is(:hover,:focus) .app-text {
    transform: translateY(0%);
}
.oport-top{
    position: relative;
    overflow: hidden ;
}
.app-text{
    position: absolute;
    top: 0;
    color:rgba(244, 244, 253, 1) ;
    font-style: 16px;
    line-height: 1.5;
    background-color: #4D5AE5;
    background-blend-mode: soft-light;
    padding:40px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*end portfolio*/

/*main*/
.charecter {
    color: var(--text-color);
    padding-top: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.hero { 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.hero-c {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 72px;
}
.hero-box{
    display: flex;
    gap: 24px;
}
.hero-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.hero-card {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: var(--text-color);
}
.it{ 
    margin-bottom: 8px;
}
.soc-media {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-item {
    width: 40px;
    height: 40px;
}
.soc-icon {
    fill:  #F4F4FD;;
}
.team-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.team-soc-link:is(:hover,:focus){
    background-color: var(--hover-focus-color);
}

.title-hero {
    padding-bottom: 72px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
}
/*Customers section*/
.custom-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height:1.1;
    padding-bottom: 72px;
    text-transform: capitalize;
}
.cust {
    padding-top: 120px;
    padding-bottom: 120px;
}
.custom {
    width: 1128px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.cust-name {
    width: calc((100% - 150px) / 6);
    height: 90px;
}
.custom-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cust-icon{
    fill:  #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-link:is(:hover, :focus) .cust-icon {
    fill:#404BBF;}

.custom-link:is(:hover, :focus){
    border-color: #404BBF;
}
/*footer*/
.footer{
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo {
    font-family: "Raleway", "sans-serif";
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--footer-text-color);
    line-height: 1.16;

}
.footer-sub {
    max-width: 264px;
    color: var(--footer-text-color);
    margin-top: 16px;
    padding: 0;
}
.social{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.media { 
    width: 40px;
    height: 40px;
}
.foot-media {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-soc {
    color:#ffffff;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
}
.foot-media:is(:hover,:focus){
    background-color:  #31D0AA;
}
.footer-container{
    display: flex;
}
.footer-media{
    display: block;
    width: 208px;
    padding: 0;
    margin-left: 120px;
}
.footer-subscr{
    display: flex;
    margin-left: 80px;
}

.emal-sub{
    width: 264px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    margin-right: 24px;
}
.emal-sub::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

.sub-txt{
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    margin-left: 80px;
}
.btn-subscr {
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
width:165px;
height:40px;
background-color:#4D5AE5;
border-radius: 4px;
padding: 8px 24px;
gap: 16px;
border: none;
color: #ffffff;
font-weight: 500;
font-size: 16px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.btn-subscr:is(:hover,:focus){
    background-color: #404BBF;
}

/*modal window*/

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) , visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.is-hidden{
    opacity: 0 ;
    visibility: hidden;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 576px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 24px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #9999;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: rgba(231, 233, 252, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 24px;
}
.icon-clos{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:is(:hover,:focus){
    background-color: var(--btn-active-colore);
    border-color:var(--btn-active-colore);
}
.modal-close:is(:hover,:focus) .icon-clos{
fill:#FFFFFF;
}
.modal-title{
    font-weight: 500;
    text-align: center;
    padding-top: 0;
    margin-bottom: 16px;
}
.modal-name{
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 38px;
}

.btn-form{
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    gap: 10px;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    width: 169px;
    height: 56px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-form:is(:hover,:focus){
    background-color: var(--hover-focus-color);
    border-color:var(--hover-focus-color);
}
.modal-name:focus{
    border-color: rgba(77, 90, 229, 1);
}
.modal-name:focus+.icon-input{
    fill:#4D5AE5;
}
.lable-name{
    color: #8E8F99;
    font-size: 12px;
    letter-spacing: 0.1em;
    display: block;
    margin-bottom: 4px;
}
.modal-input{
    position: relative;
}
.modal-input::placeholder{
    color:#8E8F99;
    font-size: 12px;
}
.icon-input{
    position: absolute;
    left: 10px;
    top: 10px;
    transform: translateY(-10%);
}
.modal-textare{
    width: 360px;
    height: 138px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    
    font-size: 12px;
    line-height: 1.3;
    padding-left: 16px;
    padding-top: 8px;
    letter-spacing: 0.04em;
}
.modal-textare:focus{
    border-color:rgba(77, 90, 229, 1) ;
}
.modal-textare::placeholder{
    color:rgba(117, 117, 117, 0.5);
}
.checkbox-txt .check-box{
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    outline: none;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
    fill:transparent;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.checkbox:checked +.checkbox-txt span.check-box{
    background-color: var(--btn-active-colore);
    border: none;
    fill: #ffffff;
}
.checkbox-txt{
    font-size: 12px;
    letter-spacing: 0.04em;
    color:#757575;
    display: flex;
}
.txt {
    text-decoration: underline;
    color: var(--btn-active-colore);
}
.modal-check{
    margin-top: 16px;
    margin-bottom: 24px;

}